body {
  margin: 0;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 550px;
  height: 550px;
  padding: 50px;
  background-color: #1f2937;
  margin: 50px auto;
  border-radius: 5px;
}

h1 {
  color: white;
}

span {
  color: #4adf86;
}

p {
  color: #d5d4d8;
}

.btn {
  background-color: #10b981;
  color: white;
  height: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  padding: 0 20px;
}

.info {
  padding-bottom: 35px;
}

.display {
  display: flex;
  border-top: 1px solid #2f3e53;
  justify-content: space-between;
}

.passwords {
  background-color: #2f3e53;
  width: 211px;
  height: 40px;
  margin-top: 35px;
  border-radius: 5px;
}

.passwords > p {
  margin: 10px;
  font-size: 1.1rem;
  color: #55f991;
  text-align: center;
}
